version: "3"
services:
  api:
    build: .
    image: xode114kr1/growithm-be:local
    container_name: growithm
    env_file:
      - .env

    expose:
      - "4000"

    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: growithm-nginx
    ports:
      - "80:80"

    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api
    restart: unless-stopped
